*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1700141482421-0840fecfcdbc?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    /* top
    bottom
    center */
}


#car1{
    width: 110px;
    height: 80px;
    background-color: blue;
    /* position: absolute; */
}
#car2{
    width: 120px;
    height: 90px;
    background-color: darkgoldenrod;
    /* position: absolute; */
}
#car3{
    width: 130px;
    height: 100px;
    background-color: red;
    /* position: absolute; */
}

#home{
    margin: 25px 25px 25px 25px;
    position: relative;
    height: 200px;
    width: 200px;
    background-color: chartreuse;
}

#chair{
    position: absolute;
    left:50%;
    width: 50px;
    height: 50px;
    background-color: red;
}



#box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: grey;
}

#box1{
    height: 100px;
    width: 100px;
    background-color: fuchsia;
}

#box2{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 51, 255);
}

#box3{
    height: 100px;
    width: 100px;
    background-color: rgb(132, 255, 0);
}